<h4>Noch Fragen?</h4>
<form method="POST" action="http://formspree.io/team@kite-mallorca.com">
  <input type="email" name="_replyto" placeholder="Deine Mail-Adresse" required>
  <input type="hidden" name="_subject" value="Infos über Kitekurse od. -Vermietung auf Mallorca">
  <textarea name="body" placeholder="Einfach hier direkt an uns schreiben!"></textarea>
  <span>Teile uns deinen Namen und deine Handynummer mit und du kommst in unser Verteiler für Wind- und Spotinfos für die Dauer deines Aufenthaltes. Dieser Service ist kostenlos und wird über Whatsapp oder SMS getätigt.</span><br><br>
  <input type="hidden" name="_next" value="{{ site.url }}/de/danke">
  <input type="submit" value="Senden">
</form>
<span>
  Oder sende uns eine E-Mail an
  <p style="text-align: center; unicode-bidi:bidi-override; direction: rtl;">moc.acrollam-etik@maet</p>
</span>
