<h4>Alguna duda?</h4>
<form method="POST" action="http://formspree.io/team@kite-mallorca.com">
  <input type="email" name="_replyto" placeholder="Tu correo electrónico" required>
  <input type="hidden" name="_subject" value="Información sobre curso y/o alquiler en kitesurf">
  <textarea name="body" placeholder="Anota aquí tus preguntas"></textarea>
  <span>Si nos dejas tu nombre y tu móvil, te añadiremos a nuestra lista de información de viento y spot por el tiempo de tu estancia. Este servicio es gratuito y será efectuado por Whatsapp o SMS.</span><br><br>
  <input type="hidden" name="_next" value="{{ site.url }}/es/gracias">
  <input type="submit" value="Enviar">
</form>
<span>
  O envíanos un correo electrónico a
  <p style="text-align: center; unicode-bidi:bidi-override; direction: rtl;">moc.acrollam-etik@maet</p>
</span>
